<section id="thumbnails">
    <h1>Información acerca de la galeria</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi at est blanditiis eligendi iusto laborum praesentium similique itaque provident. Magnam earum eligendi officia aliquid corporis debitis illo maiores velit excepturi!
    At voluptatibus saepe sequi, consequatur et illum autem magni earum rerum libero atque voluptatem culpa voluptates eos fuga dolore quidem alias. Nulla ut debitis doloribus, dignissimos fugiat animi accusantium ipsum!</p>
    <%= link_to "Volver", root_path %>
</section>